body {
    margin-top: 4rem;
}
.gallery {

    width: 1000px;
    margin: 0 auto;
}
.gallery__info {
    float: left;
    width: 30%;

    height: 400px;
    background: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    padding: 4rem 2rem;
    box-sizing: border-box;
}
.gallery__main-slide {
    float: left;
    width: 70%;
    text-align: center;

    height: 400px;
    background: lightslategrey;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
}
.gallery__slides {
    clear: both;

    padding: 3rem 1rem;
    background: lightskyblue;
}


/* Блок "Слайдер" */
.slides {
    height: 8rem;
    padding: 0;
    margin: 0;
}
.slides__slide {
    list-style: none;
    float: left;
    padding: 0;
    margin: 18px;
    width: 100px;
    height: 100px;
    background: lightgoldenrodyellow;
}
.text{
    line-height: 400px;
}