.page-headers{
    margin-top: 2rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.block_wide{
    display: flex;
    width: 40rem;
    justify-content: space-around;
}

.search-block{
    margin: 1rem;
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.input-block{
    margin: 1rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.checkboxes{
    margin-top: 1rem;
    display: flex;
    width: 8rem;
    justify-content: space-around;
}

.block{
    display: flex;
}

.block_vertical{
    flex-direction: column;
}
.buttons-section{
    display: flex;
}
.buttons-section-type{
    margin-top: 1rem;
    height: 8rem;
    width: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.element{
    margin-top: 1rem;
}
body{
    background-color: #CCCCCC;
}

.button{
    display: flex;
    border: none;
    align-items: center;
    border-radius: 4px;
    justify-content: space-between;
    line-height: 1rem;
    font-family: Ubuntu;
    font-weight: 400;
    font-style: normal;
}

.button_size_medium {
    height: 2rem;
    width: fit-content;
    padding: 0 1rem 0 1rem;
}

.button_size_medium .icon{
    margin-right: 0.5rem;
}

.button_size_medium.button_icon-only{
    padding: 0 0.5rem 0 0.5rem;
}



.button_size_small {
    height: 1.5rem;
    width: fit-content;
    padding: 0 0.5rem 0 0.5rem;
}

.button_size_small .icon{
    margin-right: 0.25rem;
}

.button_size_small.button_icon-only{
    padding: 0 0.25rem 0 0.25rem;
}

.button_icon-only .icon{
    margin: 0;
}

.button_color_blue{
    background-color: #459DF5;
}
.button_color_blue .button__icon{
    fill: #FFFFFF;
    stroke: #FFFFFF;
}

.button_color_blue .button__text{
    color: #FFFFFF;
}

.button_color_reverse-blue{
    background-color: transparent;
}
.button_color_reverse-blue .button__icon{
    fill: #459DF5;
    stroke: #459DF5;
}

.button_color_reverse-blue .button__text{
    color: #459DF5;
}

.button_color_reverse-light-blue{
    background-color: transparent;
}
.button_color_reverse-light-blue .button__icon{
    fill: #BAD8F5;
    stroke: #BAD8F5;
}

.button_color_reverse-light-blue .button__text{
    color: #BAD8F5;
}

.button_color_black{
    background-color: transparent;
}
.button_color_black .button__icon{
    fill: #000000;
    stroke: #000000;
}

.button_color_black .button__text{
    color: #000000;
}

.button__text{
    line-height: 1rem;
    font-family: Ubuntu;
    font-weight: 400;
    color: #000000;
    font-style: normal;
}

.icon{
    height: 1rem;
    width: 1rem;
}

.button_medium{
    height: 2rem;
    width: fit-content;
}

.button-full_medium{
    padding: 0 1rem 0 1rem;
    min-width: 7rem;
}

.button-text_medium{
    padding: 0 1rem 0 1rem;
    min-width: 5.5rem;
}

.button-img_medium{
    padding: 0 0.5rem 0 0.5rem;
    min-width: 2rem;
}

.button_blue{
    background-color: #459DF5;
}

.img_white{
    stroke: #FFFFFF;
    fill:#FFFFFF
}

.text_white{
    color: #FFFFFF;
}

.img_black{
    stroke: #000000;
}

.text_black{
    color: #000000;
}

.button_transparent{
    background-color: transparent;
}

.img_blue{
    stroke: #459DF5;
    fill: #459DF5;
}

.img_normal-size{
    height: 1rem;
    width: 1rem;
}

.text_blue{
    color: #459DF5;
}

.button__text_medium{
    height: 1rem;
    width: auto;
    min-width: 3.5rem;
}

.button-full__text_medium{
    height: 1rem;
    width: auto;
    min-width: 3.5rem;
    margin-left: 0.5rem;
}

.button_small{
    height: 1.5rem;
    width: fit-content;
}

.button-full_small{
    padding: 0 0.5rem 0 0.5rem;
    min-width: 5.5rem;
}

.button-text_small{
    padding: 0 0.5rem 0 0.5rem;
    min-width: 4.5rem;
}

.button-img_small{
    padding: 0 0.25rem 0 0.25rem;
    min-width: 1.5rem;
}

.button__text_small{
    height: 1rem;
    width: auto;
    min-width: 3.5rem;
}

.button-full__text_small{
    height: 1rem;
    width: auto;
    min-width: 3.5rem;
    margin-left: 0.25rem;
}

.button_full-width{
    width: 100%;
    justify-content: center;
}
